@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-black: #111827;
  --bg-one: #ffffff;
  --bg-two: #f9fafb;
  --line-color: #f3f4f6;
  --text-color: #4b5563;
  --head-bg: #e5e7eb;
  --tom-color: #111827;
  --download-color: #f9fafb;
}

[data-theme="dark"] {
  --bg-black: #f9fafb;
  --bg-one: #030712;
  --bg-two: #111827;
  --line-color: #1f2937;
  --text-color: #d1d5db;
  --head-bg: #374151;
  --tom-color: #f9fafb;
  --download-color: #111827;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 50px;
}
